md-card {
  text-align: center;
}

.drop-area {
  background: #fafafa;
  border: 2px dashed #eee;
  border-radius: 15px;
  height: 100px;
}

.dragover {
  background: #eee;
}

.submit-button {
  margin-top: 20px;
}

.results {
  text-align: left;
}

table {
  border-spacing: 10px;
  border-collapse: separate;
}

thead, tbody {
  vertical-align: top;
}
