<md-card>
  <md-card-title>
    Upload PDF
  </md-card-title>
  <md-card-content>
    <div class="drop-area"
         [class.dragover]="dragEnterCount === 1"
         (drop)="drop($event)"
         (dragenter)="dragenter()"
         (dragover)="dragover($event)"
         (dragleave)="dragleave()"
         fxLayout='column'
         fxLayoutAlign="center space-around">
      <span>Drag PDF files here</span>
    </div>
    <button class="submit-button" md-raised-button (click)="files.click()">Combine into one CSV</button>
    <input type="file" id="files" name="files[]" multiple [hidden]="true"
           (change)="selectFiles($event)" #files/>

    <md-progress-bar [value]="progress"></md-progress-bar>

    <div class="results">
      <ul>
        <li *ngFor="let error of errors">{{error}}</li>
      </ul>
      <table *ngIf="operations.length > 0">
        <thead>
        <tr>
          <td>Date</td>
          <td>Amount</td>
          <td>Description</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let operation of operations">
          <td>{{operation.date}}</td>
          <td>{{operation.amount}}</td>
          <td>{{operation.description}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </md-card-content>
</md-card>
