<div class="container"
     fxLayout='column'
     fxLayoutAlign="stretch">

  <section fxFlex="0 0 auto"
           fxLayout='column'
           class="menu"
           fxLayoutAlign="stretch">
    <h1 fxFlex="0 0 auto">Convert many PDF to one CSV</h1>
    <div fxFlex="0 0 auto"
         class="controls">
      <button md-raised-button
              [disabled]="progress > 0"
              (click)="fileInput.click()">
        Select PDF files
      </button>
      <input type="file"
             multiple
             [hidden]="true"
             (change)="selectFilesWithInput($event)"
             #fileInput/>
      <button md-raised-button
              [disabled]="progress > 0 || operations.length === 0"
              (click)="downloadCsv()">
        Save in CSV file
      </button>
      <md-progress-spinner fxFlex="0 0 auto"
                           [value]="progress">
      </md-progress-spinner>
    </div>
  </section>

  <div fxFlex="0 1 auto"
       fxLayout='row'
       fxLayoutAlign="stretch">
    <md-card fxFlex="1 1 auto"
             fxLayout='column'
             fxLayoutAlign="stretch"
             class="files"
             *ngIf="selectedFiles.length > 0">
      <h2>Files</h2>
      <table fxFlex="0 1 auto">
        <tr *ngFor="let selectedFile of selectedFiles">
          <td>{{selectedFile.name}}</td>
        </tr>
      </table>
    </md-card>

    <md-card fxFlex="1 1 auto"
             fxLayout='column'
             fxLayoutAlign="stretch"
             *ngIf="operations.length > 0 || progress > 0"
             [ngSwitch]="progress > 0 && progress < 100"
             class="operations">
      <h2>Operations</h2>
      <p *ngSwitchCase="true">Loading…</p>
      <div *ngSwitchCase="false"
           fxLayout='column'>
        <ul fxFlex="0 1 auto"
            class="errors"
            *ngIf="errors.length > 0">
          <li *ngFor="let error of errors">{{error}}</li>
        </ul>
        <table fxFlex="0 1 auto"
               class="operations">
          <thead>
          <tr>
            <td>Date</td>
            <td>Amount</td>
            <td>Description</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let operation of operations">
            <td>{{operation.date}}</td>
            <td>{{operation.amount | number:'1.2-2'}}</td>
            <td>
              <pre>{{operation.description}}</pre>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </md-card>
  </div>
</div>
